/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap'); */

:root {
    --main-color: #50A3A4;
    --secondary-color: #FAAE37;
    --dark: #656565;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

    /* Header Section  */

header {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(90deg, rgba(2, 65, 71, 0.9), rgba(3, 82, 93, 0.8)), url(./images/banner.jpg);
    background-size: cover;
    background-position: right;
    position: relative;
    text-align: center;
    margin-bottom: 180px;
}

header h1 {
    padding-top: 80px;
    line-height: normal;
    color: var(--secondary-color);
}

header h1 #hi {
    display: block;
    font-size: 60px;
}

.heading-container #heading-desc {
    display: none;
}

nav {
    display: flex;
    position: sticky;
    top: 0;
    min-height: 50px;
    padding: 0 24px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    z-index: 1000;
    overflow: hidden;
}

#logo-container {
    width: 30px;
}

nav ul {
    display: none;
    align-items: center;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 18px 8px;
}

nav ul li a:hover {
    background-color: var(--secondary-color);
}

.fa-bars {
    font-size: 24px;
    color: white;
}

#circle-image-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 50%;
    margin: -15px auto;
    /* border: 1px solid tomato; */
}


.img-container {
    display: none;
}

#circle-image-container img {
    width: min(45%, 350px);
    border: 6px solid white;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

strong {
    color: var(--dark)
}

    /* About Me Section  */

section  {
    width: 95%;
    margin: 34px auto;
    border: 1px solid rgb(223, 223, 223);
}

.fa-user-tie {
    display: none;
}

section .header {
    text-align: center;
    margin-bottom: 14px;
}

#about p {
    padding: 0 5px;
    text-align: center;
}

    /* Skills Section  */

.skills-bar-container-mob {
    padding: 0 5px;
}

.bar, .slider {
    display: flex;
    align-items: center;
    height: 22px;
    border-radius: 15px;
    text-indent: 20px;
    color: white;
}

.skill-icon-container {
    display: flex;
    justify-content: center;
}

.skill-icon-container i {
    font-size: 1.3rem;
    margin: 10px;
    color: var(--secondary-color)
}

.skills-bar-container-mob .bar {
    background-color: #b9b9b9;
    margin: 11px 0;
}

.skills-bar-container-mob .slider {
    background-color: var(--main-color);
}

    /* Project Section  */

.project-container {
    max-width: 350px;
    margin: 20px auto;
    background-color: #d8d8d8;
    height: 200px;
    border: 2px solid var(--main-color);
    border-radius: 14px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.project-container .desc-container {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: right;
    padding: 15px 20px 15px 15px;
    background-color: var(--secondary-color);
    border-radius: 0 14px 14px 0;
}

.desc-container h3 {
    color: white;
    padding-top: 15px;
}

.desc-container p {
    font-size: 16px;
}

.technologies div {
    float: right;
}

    /* Testimonial Section  */

.testimonial-container {
    /* min-height: 220px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin: 20px 0;
    border: 2px solid var(--main-color);
    padding: 15px;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.testimonial-avatar-container {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #656565;
}

.testimonial-container .testimony {
    margin: 20px 5px;
}

    /* Contact Me Section   */

.phones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
}

#phone-2 {
    text-indent: 32px;
}

.fa-square-phone, .fa-square-envelope {
    font-size: 1.6rem;
    margin-right: 10px;
    color: #50A3A4;
}

.map {
    margin-top: 30px;
    overflow: hidden;
    resize: none;
    max-width: 100%;
    width: 500px;
    height: 300px
}

.inputs {
    width: 100%;
    min-height: 45px;
    border: none;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    background-color: lightgray;
}

.txt:focus {
    outline: 2px solid var(--main-color);
}
 
textarea {
    height: 115px;
}

.submit {
    color: white;
    min-height: 48px;
    border-radius: 24px;
    font-size: 1rem;
    background-color: var(--main-color);
}

    /* Footer Section  */

footer {
    padding: 20px 0 60px;
}

.footer-container {
    text-align: center;
}

.social-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon-container .fa-brands {
    font-size: 1.8rem;
    margin: 0 15px;
    border-radius: 50%;
}

.netlify {
    width: 24px;
    margin-left: 10px;
}

.netlify:hover {
    animation: none;
    transform: scale(1.2);
}

.social-icon-container .fa-brands:hover {
    color: var(--main-color);
    animation: none;
    transform: scale(1.2);
}

.social-icon-container a:visited i {
    color: rgb(59, 59, 59);
}

.social-icon-container a {
    color: rgb(59, 59, 59);
}

.footer-container p {
    font-size: 0.65rem;
    margin-top: 10px;
    font-style: italic;
}

#developer {
    color: var(--main-color);
}

/* Tablet Size Media Query  */
@media screen and (min-width: 600px) {
/* Banner  */

    header {
        background-image: linear-gradient(90deg, rgb(2, 65, 71), rgba(3, 82, 93, 0.193)), url(./images/banner.jpg);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        margin-bottom: 50px;
        background-color: black;
    }

    section {
        padding-top: 60px;
    }

    #contact h1 {
        margin-top: 60px;
    }

    nav ul {
        display: flex;
    }

    .fa-bars {
        display: none;
    }

    #circle-image-container {
        display: none;
    }

    .banner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .heading-container {
        height: 100%;
        width: 50%;
        padding-top: 25px;
        padding-left: 80px;
    }

    .heading-container #hi {
        display: inline;
        font-size: 2.7rem;
    }

    .heading-container #name {
        display: block;
    }

    .heading-container h1 {
        font-size: 2.5rem;
        text-align: left;
        color: var(--secondary-color);
    }

    .heading-container #heading-desc {
        display: block;
        font-size: 1rem;
        text-align: left;
        color: #d8d8d8;
    }

    .img-container {
        display: block;
        width: 50%;
        height: 100%;
    }

    .img-container img {
        height: 100%;
        object-fit: cover;
    }

    /* About Section  */
    .about {
        display: flex;
        align-items: center;
        border: 2px solid var(--main-color);
        border-radius: 0 18px 18px 0;
        /* justify-content: center; */
        /* align-items: start; */
    }

    .about-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 335px;
        min-width: 200px;
        height: 317px;
        border-radius: 0;
        background-color: var(--main-color)
    }

    .about-icon-container .fa-user-tie {
        color: white;
        font-size: 10rem;
    }

    .about-icon-container {
        width: 200px;
        height: 180px;
        background-color: var(--main-color)
    }

    .fa-user-tie {
        display: block;
    }

    .about-div {
        width: 70%;
        padding: 15px;
        text-align: left;
        /* border: 1px solid red; */
        font-size: 1.1rem;
    }

    #about p {
        text-align: left;
    }

    /* Skills Section  */
    #skills {
        padding-right: 30px
    }

    .skill-icon-container {
        display: flex;
        justify-content: center;
    }

    .skill-icon-container i {
        font-size: 1.3rem;
        margin: 10px;
        color: var(--secondary-color)
    }

    /* Project Section  */

    .project-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 259px);
        justify-content: center;
        gap: 10px;
    }

    .project-container {
        margin: 5px 5px;
    }

    /* Testimoial Section  */

    .main-testimonial {
        display: flex;
    }

    .testimonial-container {
        margin: 8px;
    }

    #contact {
        padding: 0 40px;
    }

}


/* Desktop/Laptop Size  */
@media screen and (min-width: 830px) {

    header {
        background-image: linear-gradient(90deg, rgb(2, 65, 71), rgba(3, 82, 93, 0.193)), url(./images/banner.jpg);
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        height: 100vh;
        margin-bottom: 50px;
        background-color: black;
    }

    section {
        margin-top: 80px;
        padding: 55px 80px 0;
    }

    section .header {
        font-size: 2.1rem;
        color: #656565;
    }

    #logo-container {
        width: 50px;
    }

    nav {
        padding: 0 140px;
        height: 5ne0px;
        box-shadow: 0 3px 8px rgba(0,0,0,0.2);
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        padding: 30px 20px;
        font-size: 1.1rem;
    }

    .fa-bars {
        display: none;
    }

    #circle-image-container {
        display: none;
    }

    .banner-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .heading-container {
        height: 100%;
        width: 50%;
        padding-top: 100px;
        padding-left: 150px;
    }

    .heading-container #hi {
        display: inline;
        font-size: 7rem;
    }

    .heading-container #name {
        display: block;
    }

    .heading-container h1 {
        font-size: 4rem;
        text-align: left;
        line-height: 4rem;
        color: var(--secondary-color);
    }

    .heading-container #heading-desc {
        display: block;
        font-size: 1.3rem;
        margin-top: 10px;
        text-indent: 5px;
        text-align: left;
        color: #d8d8d8;
    }

    .img-container {
        display: block;
        width: 50%;
        height: 100%;
    }

    .img-container img {
        height: 100%;
        object-fit: cover;
    }

/* About Section  */
    .about {
        display: flex;
        align-items: center;
        border: 3px solid var(--main-color);
        border-radius: 0 18px 18px 0;
        /* justify-content: center; */
        /* align-items: start; */
    }

    .about-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 335px;
        min-width: 200px;
        height: 317px;
        border-radius: 0;
        background-color: var(--main-color)
    }

    .about-icon-container .fa-user-tie {
        color: white;
        font-size: 15rem;
    }

    .about-div {
        width: 70%;
        padding: 15px;
        text-align: left;
        /* border: 1px solid red; */
        font-size: 1.8rem;
    }

    #about p {
        text-align: left;
        color: var(--dark)
    }

/* Skills Section  */

    .master-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .skills-bar-container-mob {
        display: flex;
        align-items: center;
        flex-basis: 50%;
        width: 100%;
    }

    .bar, .slider {
        min-height: 31px;
    }

    .skill-icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 145px ;
        min-height: 145px;
        margin-right: 45px;
        background-color: var(--secondary-color) ;
    }
    .skill-icon-container i {
        color: white;
        font-size: 5rem;
        margin: 10px;
    }

   .second-container {
    margin: 0 45px 0 0px;
        /* background-color: #50A3A4; */
    }

    .skill-list {
        flex-basis: 60%;
    }

/* Project Section  */

    .project-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .project-container {
        max-width: 300px;
        margin: 5px;
    }

/* Testimoial Section  */

    .main-testimonial {
        display: flex;
        justify-content: space-evenly;
    }

    .testimonial-container {
        width: 500px;
        /* height: 250px; */
    }


    /* Contact Section  */


    #map-container {
        text-decoration:none; 
        overflow:hidden;
        max-width:100%;
        width:500px;
        height:500px;
    }

    #g-mapdisplay {
        height: 100%; 
        width: 100%;
        max-width: 100%;
    }

    #embed-map-canvas img {
        max-width:none!important;
        background:none!important;
        font-size: inherit;
        font-weight:inherit;
    }

    .contact-container {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    .map {
        width: 430px;
    }

    form {
        margin-top: 10px;
    }

    .submit {
        margin-bottom: 0;
    }

}